

<footer>
	<div class="container">
		<div class="footer-top">
			<div class="footer--item  footer-logo">
				<img src="img/logo.png" alt="" class="logo">
			</div>
			<div class="footer--item  footer-phone">
				<p>+371 28755710</p>
			</div>
			<div class="footer--item  footer-mail">
				<div class="footer-mail__item">
					<a href="mailto:info@samura.org">info@samura.org</a>
				</div>
			</div>
			<div class="footer--item  footer-social">
				<a href="#" class="facebook"></a>
				<a href="#" class="instagramm"></a>
			</div>
		</div>
		
		<div class="footer-menu">
			<div class="footer--item  footer-adres">
				<p>Наш адрес:</p>
				<span>Estonia pst. 5-309B, Tallinn, <br>Harju maakond, 10143.</span>
			</div>
			<div class="footer--item  footer-menu__item">
				<p>О SAMURA</p>
				<ul>
					<li><a href="#">О Samura</a></li>
					<li><a href="#">Авторские права</a></li>
					<li><a href="#">Написать письмо</a></li>
				</ul>
			</div>
			<div class="footer--item  footer-menu__item">
				<p>Онлайн магазин</p>
				<ul>
					<li><a href="#">Оформление заказа</a></li>
					<li><a href="#">Доставка</a></li>
					<li><a href="#">Методы оплаты</a></li>
					<li><a href="#">Возврат и обмен заказа</a></li>
				</ul>
			</div>
			<div class="footer--item  footer-menu__item">
				<p>нужна помощь?</p>
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Помощь при заказе</a></li>
				</ul>
			</div>
		</div>
		
		
		<div class="footer-logos">
			<img src="img/logos/1.png" alt="">
			<img src="img/logos/2.png" alt="">
			<img src="img/logos/3.png" alt="">
			<img src="img/logos/4.png" alt="">
			<img src="img/logos/5.png" alt="">
			<img src="img/logos/6.png" alt="">
		</div>
		
		
		<div class="footer-copy">
			<p class="footer-copy_samura">© 2017 Samura. Все права защищены.</p>
			<div class="footer-copy__design">
				<p>Разработано в <a href="#" target="_blank">Clover.by</a></p>
			</div>
		</div>

	</div>
</footer>






<script src="https://maps.googleapis.com/maps/api/js?sensor=true&amp;v=3&amp;language=ru"></script>
<script src="js/custom.js"></script>

</body>
</html>   