<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Document</title>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<!-- Open Graph Protocol-->
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<!-- Open Graph Protocol-->
	<!-- favicon -->
	<link rel="icon" type="image/png" href="" sizes="16x16">
	<link rel="icon" type="image/png" href="" sizes="32x32">
	<link rel="icon" type="image/png" href="" sizes="96x96">
	<link rel="apple-touch-icon" sizes="152x152" href="">
	<!-- favicon -->
	<link rel="stylesheet" href="css/style.css">
    <!--[if IE]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>



<header>

	<div class="header-top">
		<div class="container">
			<div class="header--left">
				<div class="dropdown  lang">
					<a href="#" class="dropdown__change">Русский</a>
					<div class="dropdown__hidden">
						<a href="#">Украинский</a>
						<a href="#">Английский</a>
					</div>
				</div>
				<div class="dropdown  country">
					<a href="#" class="dropdown__change">Россия</a>
					<div class="dropdown__hidden">
						<a href="#">Украина</a>
						<a href="#">Германия</a>
						<a href="#">Япония</a>
					</div>
				</div>
			</div>
			
			<div class="header--right">
				<div class="header-phone">
					<p>+371 28755710</p>
				</div>
				<div class="header--favorites">
					<a href="#">Избранное</a>
				</div>
				<div class="header--sets">
					<a href="#">Мои наборы</a>
				</div>
				<div class="header--login">
					<a href="#">Войти</a>
				</div>
				<div class="header--cart">
					<a href="#">Корзина</a>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="header-bottom">
		<div class="container">
			<div class="logo">
				<a href="#">
					<img src="img/logo.png" alt="">
				</a>
			</div>
			<div class="header-menu">
				<nav>
					<ul>
						<li><a href="#">О samura</a></li>
						<li><a href="#">Ножи</a></li>
						<li><a href="#">посуда</a></li>
						<li><a href="#">Аксессуары</a></li>
						<li><a href="#">Статьи</a></li>
						<li><a href="#">контакты</a></li>
					</ul>
				</nav>
				<form action="" class="search-form">
					<input type="search">
					<button></button>
					<div class="search-form__load"></div>
				</form>
			</div>
		</div>
	</div>

</header>